<div class="container">
  <h1>this is the index for orders</h1>
  <button type="button" class="button"><%= link_to "Add Order", new_order_path %></button>
    <table class = "table">
      <thead>
        <tr>
          <th>OK FINE At least I tried lol</th>
          <th></th>
        </tr>
      </thead>

    </table>
  <th></th>

</div>
