<div class="layout">
  <div class="container">
    <nav class = "nav nav--color-primary">
      <ul>
        <li>
          <a href="#">Navigation</a>
        </li>
        <li>
          <a href="#">Breadcrumbs</a>
        </li>
        <li>
          <a href="#">Message</a>
        </li>
        <li>
          <a href="#">Empty State</a>
        </li>
      </ul>
      <button type="button" class="button">Login</button>
    </nav>
  </div>

  <div class="container">
    <h1>Posse</h1>
    <h3>Shop with ease.</h3>
  </div>
</div>
